@media screen and (max-width: 800px) {
    .section_first_style {
        height: 90vh;
    }

    .section_first_sv {
        background-position: right center;
    }

    .section_first_wokeasy {
        background-position: right center;
    }

    .section_first_nasa {
        background-position: left center;
    }

    .section_first_training_center {
        background-position: 15% center;
    }

    .section_first_zencoffee {
        background-position: center center;
    }

    .hd_row1 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hd_r1_col_left {
        display: flex;
        align-self: flex-start;

    }

    .hd_r1_col_left-text {
        align-self: flex-start;

    }

    .hd_row2 {
        flex-direction: column-reverse;
        align-items: center;

    }

    .hd_r1_col_left {
        font-size: 16px;
        width: 350px;
    }

    .h1_r1_col_right img {
        width: 90vw !important;
        height: auto;
    }

    .gllr_row_1,
    .gllr_row_2,
    .gllr_row_3 {
        flex-direction: column;
    }

    .gllr_row_1>img,
    .gllr_row_2>img,
    .gllr_row_3>img {
        width: 90vw;
        margin: auto;
        height: auto;
        margin-top: 20px;
    }

    .linkediv h2 a {
        font-size: 16px;
    }

    .hd_r1_col_left {
        font-size: 12px;
        width: 250px;
    }

    .hd_r1_col_right>a {
        width: 90vw !important;
        height: auto;
    }

    .hd_r1_col_right a div {
        width: 90vw !important;
        height: auto;
    }

    .hd_r1_col_right>div {
        width: 90vw !important;
    }

    .ukiyo {
        width: 90vw !important;
        height: auto;
    }
}


/*
@media screen and (max-width:500px) {
    .hd_r1_col_left {
        font-size: 12px;
        width: 250px;
    }

    .hd_r1_col_right>a {
        width: 90vw !important;
        height: auto;
    }

    .hd_r1_col_right a div {
        width: 90vw !important;
        height: auto;
    }

    .ukiyo {
        width: 90vw !important;
        height: auto;
    }

} */